# LOCAL_DIR=/home/silverag/workspace/GoogleDrive
# REMOTE_DIR=google-drive:
# CHECK_ACCESS_MARKER=RCLONE_TEST
WORKING_DIRECTORY=/home/silverag/workspace/Git/private/config/google-drive-sync
EXEC_START=/home/silverag/workspace/Git/private/config/google-drive-sync/scripts/rclone-bisync.sh
